* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 50%;
  margin: 1rem auto 0;
}

.wrapper div {
  margin-bottom: 0.2rem;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.note input {
  width: 100%;
}

.notes textarea {
  width: 100%;
}
